<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reserve</title>
</head>
<body>
<br>
<br>
<a th:href="@{/product/reserve/get}">Dodaj produkt na  przez kod kreskowy</a>
<br>
<br>
<a th:href="@{/product/reserve/addByName}">Dodaj produkt na rezerwe przez nazwe</a>
<br>
<br>
<a th:href="@{/product/reserve/spend}">Wydaj produkt z rezerwy przez kod kreskowy</a>
<br>
<br>
<a th:href="@{/product/reserve/spendByName}">Wydaj produkt z rezerwy przez nazwe</a><br>
<br>
<a th:href="@{/}">Wróć</a>
</body>
</html>