<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Volunteer Product Form</title>
</head>
<body>
<h1>Tabela zamowien wolontariuszy</h1>

<table border="1">
    <tr>
        <th>Wolontariusz</th>
        <th>Produkt i ilosc</th>
    </tr>
    <tr th:each="v : ${volunteerListMap}">
        <td th:text="${v.getKey().getName()}"></td>
        <td>
            <table border="1">
                <tr th:each="p : ${v.getValue()}">
                    <td th:text="${p.getOrderedProduct().getProduct()}"></td>
                    <td th:text="${p.getOrderedQuantity()}"></td>
                    <td><a th:href="@{'/orderedProduct/add/'+${parcelId}+'/volunteerProducts/remove/'+${p.id}}">Usuń</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>


<br>
<br>
<br>

<h1>Volunteer Product Form</h1>
<form th:object="${volunteerProduct}" method="post">
    Produkt: <select th:field="*{orderedProduct}">Wybierz
    <option th:each="p : ${parcelProducts}" th:value="${p.id}" th:text="${p.getProduct()}">
    </option>
</select>

    <br>
    <br>

    Wolontariusz: <input list="names" th:field="*{volunteer}"/>
    <datalist id="names">
        <option th:each="v : ${volunteers}" th:value="${v.id}" th:label="${v.name}">
    </datalist>

    <p>Ilość: <input type="text" th:field="*{orderedQuantity}"/></p>
    <p><input type="submit" value="Submit"/></p>
</form>
<br>
<a th:href="@{'/orderedProduct/add/'+${parcelId}}">powrot </a>
<br>
<a th:href="@{/}">powrot na strone startowa</a>

</body>
</html>