<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello View</title>
</head>
<body>
<h1>Hello Spring Boot</h1>
<a th:href="@{/product/productList}">Zarządzaj produktami</a>
<br>
<br>
<a th:href="@{/parcel/parcelList}">Zarządzaj zamówieniami</a>
<br>
<br>
<a th:href="@{/parcel/parcelsToSpend}">Odbierz/wydaj zamowienie</a>
<br>
<br>
<a th:href="@{/product/reserve}">Dodaj/wydaj produkt (rezerwa)</a>
<br>
<br>
<br>
<br>
<a th:href="@{/}">Tabela produktów z opcja rezerwacji</a>
</body>
</html>