<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FKP_WMS</title>
</head>
<body>
<h1>Custom login page</h1>
<form th:action="@{/login}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div th:if="${param.error}">Nie poprawne dane logowania</div>
    <div><input type="submit" value="Sign In"/></div>
</form>
<br>
<br>
<h1>WTF</h1>
<p><a th:href="@{/registration}">Rejestracja</a></p>
</body>
</html>